<div class="container">
  <header>
    <div class="image-header">
      <img src="https://placehold.it/115x115" />
    </div>
    <div>
      <div>
        <h2>Product Center</h2>
      </div>
      <div>
        <div>6</div>
        <div>Products</div>
      </div>
      <div>
        <div>0</div>
        <div>Out of stock</div>
      </div>
    </div>
  </header>
  <div class="content-body">
    <table mat-table [dataSource]="dataSource">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Product </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>